fastapi
uvicorn[standard]
sqlalchemy>=2.0
aiomysql
pymysql
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart
pydantic[email]
pydantic-settings
python-dotenv
email-validator
aiofiles
reportlab
